html,body,div,span,iframe,h1,h2,h3,h4,p,pre,del,em,img,b,i,dl,dt,dd,ol,ul,li,form,table,tbody,tr,th,td,article,aside,footer,header,nav,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing:border-box}
article,aside,footer,header,nav,section{display:block}
body{line-height:1;overflow-wrap:break-word;word-wrap:break-word}
input,textarea,select{font-family:inherit;font-size:inherit;color:inherit;vertical-align:middle;box-sizing:border-box}
a{margin:0;padding:0;text-decoration:none;outline:none;font-size:100%;vertical-align:baseline;background:transparent}
a img{border-style:none}
ul,li{list-style-type:none}
hr{border:0;display:block;margin:1em 0;padding:0;height:1px}
.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}

/* ===================================
背景,文字,リンク設定
=================================== */

html{
font-size:62.5%;
min-height:100%
}
body{
background:url(image/back01.gif) #ffd8d5 fixed repeat-y -100px 0;/* 背景 */
/* 画像の横幅=400px メニュー側の幅=300px 引いた数をマイナスで指定 */
/* メニュー側=400pxにするなら 0になります */
color:#8c8673;/* 文字色 */
font-size:1.3em;/* 文字の大きさ */
font-family:'Segoe UI','游ゴシック Medium','Yu Gothic Medium','游ゴシック体',YuGothic,'Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
letter-spacing:.1em;
line-height:1.5;
text-align:center
}
/*  リンク
------------------------------ */
a{
color:inherit
}
#rightcolumn a,aside a{
color:#ff6352;
display:inline-block;
margin:3px 3px 3px 0;
border-bottom:1px dashed #8c8673
}
aside a{
color:inherit
}
a:hover,nav span:hover{
background:rgba(255,159,149,.8);
border-radius:5px;
color:#8c8673;
transition:.6s
}
#rightcolumn a:hover{
color:#fff
}
#rightcolumn a.bg-none,a.bg-none{
border-bottom:0
}
#rightcolumn a.bg-none:hover,a.bg-none:hover{
background:none;
color:inherit
}

/* ===================================
基本
=================================== */

#wrapper{
position:relative;
text-align:left
}
header{
position:absolute;
left:0;
width:300px; /* (※1)と同じ */
z-index:10
}
#header-inner{
padding:20px 60px 20px 15px
}
#rightcolumn-wrap{ 
float:right;
margin-left:-300px; /* (※1)と同じだけマイナス */
width:100%
}
#rightcolumn{
margin-left:300px; /* (※1)と同じ */
padding:20px 20px 20px 30px;
position:relative
}
#leftcolumn-wrap{
float:left;
width:300px; /* 左側の幅(※1) */
}
#leftcolumn{
padding:20px 60px 20px 15px
}

/* ===================================
メニュー
=================================== */

#menu{
display:block;
margin:0 auto
}
nav li a,nav li span{
display:block;
padding:5px 0;/* 一列の高さはここで調節 */
position:relative
}
.sub-menu{
display:none;
overflow:hidden
}
.sub-menu li{
text-indent:1em
}
/*  メニューの「>」
------------------------------ */
nav li span:after{
border-top:3px solid #8c8673; /* 色 */
border-right:3px solid #8c8673; /* 色 */
content:"";
display:block;
margin-top:-5px;
position:absolute;
height:5px;width:5px;
top:50%;right:10px;
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
transition:.5s
}
nav li span.open:after{
-ms-transform:rotate(135deg);
-webkit-transform:rotate(135deg);
transform:rotate(135deg)
}
/*  メニューを開くボタン非表示
------------------------------ */
#open{display:none}

/* ===================================
ページ上部へのリンク、著作権表示
=================================== */

#pagetop{
background:rgba(140,134,115,.6);
border-radius:30px;
box-sizing:border-box;
color:#fff;/* 色 */
display:block;
font-size:13px;
letter-spacing:normal;
line-height:20px;
padding-top:12px;
position:fixed;
text-align:center;
height:40px;width:40px; /* 大きさ */
bottom:-80px;
z-index:10
}
#pagetop:before{
content:"";
display:block;
border-left:2px solid #fff;
border-top:2px solid #fff;
position:absolute;
top:10px;left:16px;
height:6px;width:6px;
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
transform:rotate(45deg)
}
#pagetop:hover{
background:rgba(140,134,115,.9)
}
#fl{
margin-top:80px;
text-align:center
}
#fl a{
background:#8c8673;
border-radius:3px;
color:#fff;
display:inline-block;
padding:0 5px
}

/* ===================================
index
=================================== */

#index{
background:url(image/back01.gif) #ffd8d5 repeat-y -340px 0;/* 背景 */
padding:10px 10px 10px 60px;
margin:0 auto;
height:auto
}
.indexbox{
margin:20px auto;
padding:20px;
text-align:left;
max-width:580px
}

/* ===================================
見出し、枠、線
=================================== */

h1{
font-size:1.5em;
letter-spacing:.1em;
margin:0 0 10px;
text-shadow:2px 2px 2px rgba(140,134,115,.6)
}
h1:not(.index){
background:#fff;
border:3px double #8c8673; /* 枠線 */
border-radius:3px;
box-shadow:0 0 0 5px #fff,5px 5px 8px #d2d2d2;
padding:5px
}
h2{
border-bottom:3px solid;
font-size:1.3em;
line-height:1.3em;
margin:20px 0 20px -10px
}
h2:first-letter{
font-size:1.3em
}
#leftcolumn h2{
margin:20px 0
}
#leftcolumn > h2:first-child,#rightcolumn h2:first-child{
margin-top:0
}
h3{
border-bottom:1px dotted;
font-size:1.1em;
margin:20px 0;
padding:2px 0
}
dt{
background:#ff9f95;
border-radius:5px;
color:#fff;
clear:both;
font-weight:700;
float:left;
margin:0 0 5px;
padding:0 5px;
width:12em /* 文字数によっては調整 */
}
dd{
border-bottom:dotted 1px;
margin:0 0 5px 14em /* dtのwidthに2足してます */
}
em{
font-style:normal;
font-weight:700
}
input,textarea{
background:rgba(255,255,255,.6);
border:1px solid;
margin:3px 0;
width:200px
}
#leftcolumn input,#leftcolumn textarea{
width:100%
}
textarea{
height:50px
}
hr{
border-top:1px solid #ccc
}
.marker{
background:#ff9f95;
background:-webkit-linear-gradient(rgba(255,159,149,0) 50%, #ff9f95 0%);
background:linear-gradient(rgba(255,159,149,0) 50%, #ff9f95 0%);
padding:1px 5px
}
.dcline{
border-left:5px solid #ff9f95;
margin:8px 0;
padding:3px 3px 3px 10px
}
.textbox{
background:#fff;
border:1px solid;
border-radius:5px;
margin:10px 0;
padding:3px;
text-align:center
}
.title{
color:#fff;
font-size:1.5em;
font-weight:700;
margin:2em 0;
text-shadow:2px 2px 2px rgba(140,134,115,.6)
}

/*  複数行の右寄せ
------------------------------ */
.r-justified{
text-align:right
}
.r-justified p{
display:inline-block;
text-align:left
}
.inline{
display:inline-block
}

/* ===================================
横幅800pxで切り替え
=================================== */

@media screen and (max-width: 800px){
dt{float:none;clear:none}
dd{margin-left:20px}
input,textarea{width:100%}
img{max-width:100%;height:auto} /* 画像の縮小表示 */
}

/* ===================================
スマホ、タブレット用
横幅600pxで切り替え
=================================== */

@media screen and (max-width: 600px){
body{
background:url(image/back01.gif) #ffd8d5 repeat-y -340px 0;/* 背景 */
padding:10px 10px 10px 60px;
font-size:1.5em
}
#header-inner{
padding:0 10px 20px;
min-height:60px; /* メニューを開くボタン分 */
margin-right:60px /* メニューを開くボタン分 */
}
#rightcolumn{
padding:20px 10px 20px 20px
}
#leftcolumn{
padding:0 10px
}
h1:not(.index){
background:none;
border:0;
border-radius:0;
box-shadow:0 0 0 0,0 0;
color:#fff;
line-height:1.2;
padding:0
}
h2{
margin:20px -10px
}
header{position:relative;width:auto}
#rightcolumn-wrap{float:none;margin-left:0}
#rightcolumn{margin-left:0}
#leftcolumn-wrap{float:none}
a:hover,nav span:hover,#rightcolumn a:hover{background:none;border-radius:0;color:inherit}

/* ===================================
スマホ、タブレット用メニュー
=================================== */

/*  スライド
------------------------------ */
#leftcolumn-wrap{
background:#fff; /* 背景色 */
line-height:2;
margin:0;
padding:70px 10px 20px; /* メニューボタン分空ける */
position:fixed;
height:100%;width:280px; /* (*1)同じにする */
top:0;right:0;
-ms-transform:translate(280px); /* (*1)同じにする */
-webkit-transform:translate(280px); /* (*1)同じにする */
transform:translate(280px); /* (*1)同じにする */
transition:.3s;
z-index:1000
}
#side-bg{
background:rgba(51,51,51,.5)/* 周りの背景色 */
}
/*  メニュー
------------------------------ */
nav li:first-child{
border-top:1px solid #ccc
}
nav li{
border-bottom:1px solid #ccc
}
.sub-menu li:last-child{
border:0
}
/*  メニューを開くボタン
------------------------------ */
#open{
background:#fff;
border:2px solid #8c8673;
border-radius:5px;
display:inline-block;
position:absolute;
text-align:center;
height:50px;width:50px; /* 大きさ */
top:0;right:0;
z-index:1001
}

#open-icon,#open-icon:before,#open-icon:after{
background:#8c8673 /* 線の色 */ 
}
#leftcolumn{height:100%;overflow:auto;-webkit-overflow-scrolling:touch}
#leftcolumn-wrap.open{-ms-transform:translate(0);-webkit-transform:translate(0);transform:translate(0)}
#side-bg{display:none;position:fixed;height:100%;width:100%;top:0;left:0;z-index:999;cursor:pointer}
#open.buttonclose{position:fixed;top:10px;right:10px}
.open-text{font-size:12px;position:absolute;bottom:0;left:0;width:100%}
#open-icon{display:block;margin:-1px 0 0 -10px;position:absolute;top:16px;left:50%;height:2px;width:20px}
#open-icon:before,#open-icon:after{content:"";display:block;position:absolute;top:50%;left:0;height:2px;width:20px;transition:.3s}
#open-icon:before{margin-top:-8px}
#open-icon:after{margin-top:6px}
#open .close{background:transparent}
#open .close:before,#open .close:after{margin-top:0}
#open .close:before{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
#open .close:after{-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
}
